@page
@model SimplzQuestionnaire.Pages.Groups.IndexModel
@{
    ViewData["Title"] = "Groups";
}
<h1>Groups</h1>
<table class="table">
    <thead>
        <tr>
            <th>Questionnaire</th>
            <th>Group</th>
            <th>User</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionnaireName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.QuestionnaireId">Edit</a> |
                    <a asp-page="./Active" asp-route-QuestionnaireCode="@item.Code" asp-route-QuestionId="@item.ActiveQuestionId">Active</a> |
                    <a asp-page="./Delete" asp-route-id="@item.QuestionnaireId">Delete</a> |
                    <a asp-page="/Questions/Index" asp-route-QuestionnaireId="@item.QuestionnaireId">Questions</a> |
                    <a href="@Model.QRURL@Common.Utilities.Base64Encode(Model.QURL + item.Code + "/0")">QR Code</a> |
                    <a href="@(Model.QURL + item.Code + "/0")">Link</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>