@page
@model SimplzQuestionnaire.Pages.Questionnaires.IndexModel
@{
    ViewData["Title"] = "Questionnaires";
}
<h1>Questionnaires</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaires[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaires[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questionnaires[0].Progression)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questionnaires)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progression)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.QuestionnaireId">Edit</a> |
                    <a asp-page="./Active" asp-route-QuestionnaireCode="@item.Code" asp-route-QuestionId="@item.ActiveQuestionId">Active</a> |
                    <a asp-page="./Delete" asp-route-id="@item.QuestionnaireId">Delete</a> |
                    <a asp-page="/Questions/Index" asp-route-QuestionnaireId="@item.QuestionnaireId">Questions</a> |
                    <a href="@Model.QRURL@Common.Utilities.Base64Encode(Model.QURL + item.Code + "/0")">QR Code</a>
                </td>
            </tr>
        }
    </tbody>
</table>